<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}
    <h4><label>Мои расходы</label></h4>
<form method="get">
    {% csrf_token %}
    {{ filter_form }}

    <button type="submit">Применить</button>
</form>

{% if total_amount %}
    <p>Итог: {{ total_amount }}</p>
{% endif %}
<form method="get" action="{% url 'home' %}">
    {% csrf_token %}

    <!-- Ваши существующие элементы формы -->

    <label for="time_filter">Выберите временной диапазон:</label>
    <select name="time_filter" id="time_filter">
        <option value="">Без фильтра по времени</option>
        <option value="last_month">Последний месяц</option>
        <option value="last_quarter">Последний квартал</option>
        <option value="last_half_year">Последние полгода</option>
        <option value="last_year">Последний год</option>
        <option value="custom">Другой диапазон</option>
    </select>

    <div id="custom_date_range" style="display: none;">
        <label for="start_date">Начальная дата:</label>
        <input type="date" name="start_date" id="start_date">

        <label for="end_date">Конечная дата:</label>
        <input type="date" name="end_date" id="end_date">
    </div>

    <button type="submit">Применить фильтр</button>
</form>

<script>
    // Обработка изменения выбора временного диапазона
    document.getElementById("time_filter").addEventListener("change", function() {
        var customDateRange = document.getElementById("custom_date_range");
        if (this.value === "custom") {
            customDateRange.style.display = "block";
        } else {
            customDateRange.style.display = "none";
        }
    });
</script>
    <table>
      <thead>
        <tr>
          <th scope="col">Дата</th>
          <th scope="col">Наименование операции</th>
            <th scope="col">Валюта</th>
          <th scope="col">Сумма</th>
          <th scope="col">Категория</th>
            <th scope="col">Изменить категорию</th>
        </tr>
      </thead>
      <tbody>
      {% for Statement, change_category_form in statements %}
          <tr>
            <th scope="row">{{Statement.date}}</th>
            <td>{{Statement.operation_name}}</td>
              <td>{{Statement.currency}}</td>
            <td>{{Statement.amount}}</td>
            <td>{{Statement.my_category}}</td>
               <td>
                    <form method="post" action="{% url 'home' %}">
                        {% csrf_token %}
                        {{ change_category_form.statement_id }}
                        {{ change_category_form.new_category }}
                        <button type="submit">Изменить</button>
                    </form>
                </td>
          </tr>
        {% endfor %}

      </tbody>
    </table>
<div class="pagination">
    <span class="step-links">
        {% for page_number in paginator.page_range %}
            <a href="?page={{ page_number }}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}">{{ page_number }}</a>
        {% endfor %}
    </span>
</div>




    {% endif %}
{% endblock content %}


